<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showFilms</servlet-name>
    <servlet-class>com.servlet.ShowFilms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showFilms</servlet-name>
    <url-pattern>/showFilms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>calRate</servlet-name>
    <servlet-class>com.servlet.CalRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calRate</servlet-name>
    <url-pattern>/calRate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfo</servlet-name>
    <servlet-class>com.servlet.userInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfo</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>movieInfo</servlet-name>
    <servlet-class>com.servlet.MovieInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movieInfo</servlet-name>
    <url-pattern>/movieInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>score</servlet-name>
    <servlet-class>com.servlet.Score</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>score</servlet-name>
    <url-pattern>/score</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getLike</servlet-name>
    <servlet-class>com.servlet.GetLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLike</servlet-name>
    <url-pattern>/getLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recommend</servlet-name>
    <servlet-class>com.servlet.Recommend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recommend</servlet-name>
    <url-pattern>/recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>movieInfoApi</servlet-name>
    <servlet-class>com.servlet.MovieInfoApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movieInfoApi</servlet-name>
    <url-pattern>/movieInfoApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recommendByLike</servlet-name>
    <servlet-class>com.servlet.RecommendByLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recommendByLike</servlet-name>
    <url-pattern>/recommendByLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>topN</servlet-name>
    <servlet-class>com.servlet.TopN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>topN</servlet-name>
    <url-pattern>/topN</url-pattern>
  </servlet-mapping>
</web-app>